body {
   font-family: 'Calibri', Arial, sans-serif;
}
body {
    background-color: Pink;
}
h1 {
    font-size: 30px;
  }
  body {
    font-size: 20px;
  }
body {
    text-align: center;
}
li {
    text-align: left;
}
li {
  font-size: 22px;
}
body{
  font-style: oblique;
}
div {
  background-color: pink;
}
img {
  background-color: pink;
}
